* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

head {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --black_clr_backgrouond: #121212;
    --gray-clr: #757575;
    --white_clr_background: #fafafa;
    --cta_clr: #2D64F1;
    --cta_clr_light: #799aee;
    /* --fw */

}

header, nav {
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    
}
.dark_bg {
    min-height: 250vh;
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
}

.light_bg {
    min-height: 200vh;
    background-color: var(--white_clr_background);
    color: var(--black_clr_backgrouond);
}

.wrapper {
    max-width: 70vw;
    margin-inline: auto;
}

header {
    min-height: 100vh;
}

/* nav bar setup */
/* nav {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5rem;
    align-items: center;
    color: var(--white_clr_background);
    z-index: 1;
}

.logo {
    padding-inline: 5rem;
    font-size: 1.2rem;
}

.nav_btn {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;
    color: var(--white_clr_background);
}
.nav_btn a {
    color: var(--white_clr_background);
    text-decoration: none;
}

.nav_btn a:hover {
    text-decoration: underline;
    color: #ffffff;
} */

/* responsive nav bar attempt */
.logo {
    margin-right: auto;
    padding-left: 5rem;
}
nav {
    position: sticky;
    top: 0;
    height: 5rem;
    background-color: var(--black_clr_backgrouond);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:space-around;
    align-items: center;
    z-index: 1;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    /* justify-content: flex-start; */
}

nav a {
    height: 100%;
    /* padding: 0 4rem; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    text-decoration: none;
    color: var(--white_clr_background);

}

nav a:hover {
    text-decoration: underline;
    color: #ffffff;
}
nav svg {
    fill: var(--white_clr_background);
}

#sidebar-active {
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
    padding: 2rem 2rem;
    display: none;
}
@media(max-width: 800px){
    nav {
        position: fixed;   
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 20;       
    }

    .links-container {
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 30rem;
        background-color: var(--black_clr_backgrouond);
        box-shadow: -5px 0 5px var(--gray-clr);

        justify-content: flex-start;
        width: 100%;
        height: 50vh;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 1.2rem 2rem;
        display: block;
        /* justify-content: flex-start; */
    }
    .open-sidebar-btn, .close-sidebar-btn {
        display: block;
    }

    .open-sidebar-btn {
        margin-left: 60%;
    }

    #sidebar-active:checked ~ .links-container {
        display: flex;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-right: auto;
        padding-left: 5rem;
}
}
/* header */

.welcome {
    display: grid;
    place-content: center;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    padding-top: 7rem;
    gap: 5rem;
    /* padding-inline: 25rem; */
}

.welcome_img_overflow {
    overflow: hidden;
    padding-top: 4rem;
    padding-inline: 6rem;
    /* padding-left: 6rem; */
    padding-bottom: 10rem;
    margin: auto;
}
.welcome img {
    height: 290px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 3rem .2rem white;
}

.greeting h1 {
    
    font-size: 5rem;
    font-weight: 500;
    padding-bottom: 5rem;
}
.greeting p {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.greeting button {
    margin-top: 5rem;
    padding-block: 1.25em;
    padding-inline: 1.75em;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--cta_clr);
    font-size: 1.2rem;
    border-radius: 2em;
    color: var(--white_clr_background);
}

.greeting button:hover {
    box-shadow: 0 0 .75rem .5rem var(--cta_clr);
}

.down {
    display: grid;
    place-content: center;
    margin-top: 7rem;
    text-align: center;
}

.down a {
    color: var(--gray-clr);
    text-decoration: none;
}

.down a:hover {
    color: var(--white_clr_background);
    text-decoration: underline;
}


/* projects */

/* .main {
    background-color: var(--white_clr_background);
    color: var(--black_clr_backgrouond);
    height: 100vh;
} */

/* cards */
.project_cards {
    display: grid;
    justify-content: center;
    gap: 5rem;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
    padding-top: 7.5rem; 
    /* margin: auto; */
    
}

.card_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.info_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 115%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    border-radius: 1rem;

}

.card:hover .info_overlay{
    opacity: 1;
}
.card {
    max-width: 380px;
    height: 280px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem 1rem lightgray;
}
.card_img {
    border-radius: 1rem 1rem 0 0;
    display: block;
    
}


.card_container {
    
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    border-radius: 0 0 1rem 1rem;
    padding: .75rem;
    /* line-height: 1.5; */
    
}
.card_container h3 {
    
    font-size: 1.4rem;
    
}

.tag {
    display: inline-block;
    background-color: #3f3f3f;
    padding: .5rem;
    border-radius: .65rem;
    margin: .5rem;
    font-size: .75rem;
    /* color: var(--black_clr_backgrouond); */
}
.info_overlay p {
    position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white_clr_background);
}

.title_projects {
    padding-top: 10rem;
    /* padding-left: 10rem; */
    font-size: 4rem;
}

.more_prj_btn {
    display: flex;
    justify-content: center;
    margin: 7.5rem;
}

.more_prj_btn button{
    padding-block: 1.25em;
    padding-inline: 1.75em;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--cta_clr);
    font-size: 1.2rem;
    border-radius: 2em;
    color: var(--white_clr_background);
}

.more_prj_btn button:hover {
    box-shadow: 0 0 .75rem .5rem var(--cta_clr);
}



/* Skills */

.skills {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-areas: 
    "skill1 container1 container1"
    "container2 container2 skill2";
    gap: 2.5rem;
    justify-self: center;
    padding-block: 10rem;
}

.skills_p1 {
    grid-area: skill1;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}
.skills_container1 {
    grid-area: container1;
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    padding: 5rem;
    border-radius: 1rem;
}
.skills_p2 {
    grid-area: skill2;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    
}
.skills_container2 {
    grid-area: container2;
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    padding: 5rem;
    border-radius: 1rem;
}




/* Testimonials */
.testimonials {
    /* height: 80vh; */
    color: var(--white_clr_background);
    display: grid;
    justify-self: center;
    gap: 5rem;
    /* grid-template-columns: repeat(3,350px); */
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    border-radius: 1rem;
    /* margin-top: 7.5rem;
    margin-bottom: 15rem; */
   
}

.testimonials_title {
    padding-top: 10rem;
    padding-bottom: 10rem;
    /* padding-left: 10rem; */
    font-size: 4rem;

}

.testimonial_container1, .testimonial_container2, .testimonial_container3 {
    box-shadow: 0 0 1rem 1rem #2b2b2b;
    background-color: #3f3f3f;
    
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    /* min-height: 25rem; */
    /* align-self: center; */
    place-content: center;
    line-height: 1.7;
}

.testimonial_name {
    padding-top: 2.5rem;
}

.contact {
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    display: grid;
    justify-items: center;
    margin-bottom: 25rem;
}

.contact_txt {
    padding-top: 20rem;
    text-align: center;
    font-size: 4rem;
}

.contact_btn {
    padding-block: 1.25em;
    padding-inline: 1.75em;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--cta_clr);
    font-size: 1.2rem;
    border-radius: 2em;
    color: var(--white_clr_background);
    margin-top: 5rem;
}

.contact_btn:hover {
    box-shadow: 0 0 .75rem .5rem var(--cta_clr);
}

.footer {
    padding-top: 7rem;
    /* margin-top: 10rem; */
    display: grid;
    align-items: end;
}

.footer_link {
    margin-left: 5rem;
    line-height: 2;
    color: var(--white_clr_background);
    font-size: 1.5rem;
}

.rights {
    margin-top: 5rem;
    text-align: center;
    display: grid;
    align-items: end;
}





/* ICP page styling */

.project_header {
    min-height: 20vh;
    background-color: var(--black_clr_backgrouond);
}

.project_title {
    font-size: 4rem;
    color: var(--white_clr_background);
    display: grid;
    text-align: center;
    padding-top: 5rem;

}

.icp_background {
    background-color: var(--white_clr_background);
    padding-block: 3rem;
}
.project_description {
    font-size: 1.5rem;
    /* margin-inline: 15rem; */
    padding-block: 2rem;
}

.pdf_obj {
    width: 60%;
    aspect-ratio: 4 / 3;
    display: grid;
    justify-self: center;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-areas:
    "content content image";
    gap: 2.5rem;
    /* justify-self: center; */
    padding-block: 10rem;
}

.project_info {
    grid-area: content;
    word-wrap: break-word;
  word-break: break-all;
  /* margin-left: 15rem; */
    /* margin-left: 10rem; */
}

.project_image {
    grid-area: image;
    justify-self: end;
}



/* volleyball manual */
.video_grid {
    display: grid;
    justify-content: center;
}

.video_size {
    aspect-ratio: 16 / 9;
    width: 60vw;
}

.volleyball_grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
    margin-block: 2rem;
}

.volleyball_grid img {
    margin-inline: auto ;
}

/* GD page */
.gd_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    justify-content: space-between;
    gap: 2rem;
}

figcaption {
    font-size: .8rem;
    color:#707070;
}

/* About page */
.about_header {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "picture text";
    align-content: center;
    /* align-items: center; */
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
    gap: 5rem;
    
}

.about_profile_pic {
    grid-area: picture;
    margin-left: 20rem;
}

.about_header_text {
    grid-area: text;
    margin-right: 20rem;
    line-height: 1.5;
}

.about_header_greeting {
    font-size: 2.5rem;
    font-weight: 500;
}

.about_header_description {
    margin-top: 5rem;
    font-size: 1.5rem;
}

.about_main {
    margin-top: 5rem;
    background-color: var(--white_clr_background);
}

.about_main_title {
    font-size: 1.5rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
}

.about_certificates {
    display: grid;
    margin-inline: 20rem;
    margin-bottom: 10rem;
    grid-template-areas: 
    "award1 award2 award3 award4";
}

.award1 {
    grid-area: award1;
}

.award2 {
    grid-area: award2;
}

.award3 {
    grid-area: award3;
}

.award4 {
    grid-area: award4;
}

.about_footer {
    min-height: 40vh;
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
}



/* projects page  */
.projects_header {
    min-height: 30vh;
    background-color: var(--black_clr_backgrouond);
    color: var(--white_clr_background);
}

.projects_header p {
    padding-top: 10rem;
    padding-left: 20rem;
}
.header_title_projects {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--white_clr_background);
}

.projects_cards_grid > .project_cards > .card {
    margin-bottom: 10rem;
}

/* contats page */
.contacts_header {
    min-height: 80vh;
    background-color: var(--black_clr_backgrouond);
    display: grid;
    place-content: center;
    color: var(--gray-clr);
    /*  */
}

.contacts_header .wrapper p a{
    color: var(--white_clr_background);
    /* text-decoration: none; */
}

.contacts_title {
    font-size: 2rem;
    color: var(--white_clr_background);
}

/* tablet view */
@media only screen and (max-width: 1024px) {

    .project_header {
    min-height: 30vh;
    background-color: var(--black_clr_backgrouond);
}

.welcome {
    display: grid;
    place-content: center;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    padding-top: 7rem;
    gap: 2rem;
    /* padding-inline: 25rem; */
}

.welcome_img_overflow {
    overflow: hidden;
    padding-top: 4rem;
    padding-inline: 6rem;
    /* padding-left: 6rem; */
    padding-bottom: 7rem;
    margin: auto;
}
.welcome img {
    height: 290px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 3rem .2rem white;
}

.down {
    display: grid;
    place-content: center;
    margin-top: 5rem;
    text-align: center;
}

.project_title {
    font-size: 3rem;
    color: var(--white_clr_background);
    display: grid;
    text-align: center;
    padding-top: 4rem;

}

.project_description {
    font-size: 1.5rem;
    /* margin-inline: 5rem; */
    margin-block: 5rem;
}

.pdf_obj {
    width: 80%;
    aspect-ratio: 4 / 3;
    display: grid;
    justify-self: center;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas:
    "content"
    "image";
    gap: 2.5rem;
    /* justify-self: center; */
    /* padding-block: 10rem; */
}

.project_info {
    grid-area: content;
    align-self:center;
    /* word-wrap: break-word;
  word-break: break-all; */
  /* margin-inline: 5rem; */

}

.project_image {
    grid-area: image;
    /* margin-inline: 3rem; */
    justify-self: center;
}
}

@media only screen and (max-width: 1300px) {
.project_cards {
    
    justify-self: center;
}
}


/* phone view */
@media (max-width: 600px) {

    .welcome {
    display: grid;
    place-content: center;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding-top: 3rem;
    gap: 2rem;
    /* padding-inline: 25rem; */
}

.welcome_img_overflow {
    overflow: hidden;
    padding-top: 4rem;
    padding-inline: 6rem;
    /* padding-left: 6rem; */
    padding-bottom: 5rem;
    margin: auto;
}
.welcome img {
    height: 90px;
    width: 90px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 3rem .2rem white;
    
    
}
.greeting h1 {
    
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 3rem;
    padding-inline: 2rem;
}
.greeting p {
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.greeting button {
    min-width: 12rem;
    margin-top: 3rem;
    padding-block: 1.5em;
    padding-inline: 1.75em;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--cta_clr);
    font-size: 1rem;
    border-radius: 2em;
    color: var(--white_clr_background);
    margin-inline: 6.5rem;
}

.down {
    display: grid;
    place-content: center;
    margin-top: 3rem;
    text-align: center;
}

}